.date-form{
    margin: 20px;
}

.date-form label{
    color: aliceblue;
}

.bang-gia{
    color: rgb(202, 210, 219);
    font-style: italic;
}

.temp-price{
    color: rgb(45, 206, 72);
    font-size: 20px;
}

.fish-form{
    border: black solid 1px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}
.form-container{
    border: black solid 1px;
    border-radius: 10px;
    margin: 60px 60px;
    padding: 20px;
    background-color: rgb(110, 6, 6);

}
.btAdd{
    border-radius: 10px;
    background-color: rgb(91, 26, 212);
}
.closeButton{
    color: aliceblue;
    background: none;
    margin-left: 720px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}
.head-form{
    display: flex;
    height: 100px;
    align-items: center;
    color: aliceblue;
}

.submitButton{
    width: auto;
    min-width: 150px; /* Giới hạn kích thước nhỏ nhất của nút */
    padding: 10px 20px;
}