.date-form{
    margin: 20px;
}
.fish-form{
    border: black solid 1px;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}
.form-container{
    border: black solid 1px;
    border-radius: 15px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(224, 213, 213);
}
.btAdd{
    border-radius: 10px;
    background-color: rgb(54, 26, 212);
}
.closeButton{
    
    color: black;
    background-color: rgb(224, 213, 213);
    margin-left: 720px;

}
.title{
    font-size: 30px;
    font-weight: bold;
}
.head-form{
    display: flex;
    height: 100px;
    align-items: center;
}

.submitButton{
    width: auto;
    min-width: 150px; /* Giới hạn kích thước nhỏ nhất của nút */
    padding: 10px 20px;
}