.table-custom {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse; /* Đảm bảo các đường kẻ phân chia giữa các ô */
}

.table-custom th, .table-custom td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd; /* Đường kẻ phân chia giữa các cột và hàng */
}

.table-custom thead th {
  background-color: #f8f8f8;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.table-custom tbody td {
  background-color: #fff; /* Màu nền trắng cho các ô td */
}

.table-custom tbody tr:nth-child(even) td {
  background-color: #f1f1f1; /* Màu nền cho các hàng chẵn */
}

.table-custom tbody tr:hover td {
  background-color: #f9f9f9; /* Hiệu ứng hover */
}

.order-summary, .order-items {
  margin-bottom: 30px;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.orderDetailH3 {
  margin-top: 30px;
}

.ReviewButton button{
  margin-top: 30px;
  width: 20%;
  height: 50px;
  font-weight: bold;
}