.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 100px;
}
.cart-container thead{
  width: 1007px;
}

img{
  height: 100%;
  border-radius: 8px;
  width: 100px;
}
.cart-title{
  text-align: center;
  margin: 30px;
}

.cart-total {
  text-align: right;
  font-size: 20px;
  padding: 20px 0;
  margin: 30px 100px;
}
.cart-container strong{
  color: rgb(83, 202, 83);
  font-size: 20px;
}

.place-order-button{
  background-color: green;
}
.remove-button{
  background-color: #f44336;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.ifEmpty {
  text-align: center;
  height: 250px;
  font-weight: bold;
  font-size: xx-large;
}