.tagbar {
  background-color: rgb(80, 0, 0);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  height: 60px;
  width: 100%; /* Đặt chiều rộng 100% để chiếm toàn bộ không gian */
  margin: 0 auto; /* Căn giữa thanh tagbar */
}

.navContainer {
  flex-grow: 1; /* Đảm bảo phần nav chiếm toàn bộ khoảng trống */
  display: flex;
  justify-content: center; /* Căn giữa nội dung nav */
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.navList li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 10px;
}
.dich-vu {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 10px;
}

.navList li {
  position: relative;
  padding: 10px;
  cursor: pointer;
}
.navList li ul {
  display: none; /* Ẩn menu con */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(80, 0, 0);
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 200px;
}
.navList li:hover ul {
  display: block; /* Hiển thị menu con khi hover */
}
.navList li ul li a {
  text-decoration: none;
  background-color: rgb(80, 0, 0);
  color: white;
}
.navList li ul li a:hover {
  color: red;
}

.navList li a:hover,
.navList li a:focus{
  color: red;
  border-bottom: 2px solid red;
}

.header_cart {
  width: 150px;
  text-align: end;
  position: relative;
  cursor: pointer;
}

.customCartIcon {
  font-size: 1.5rem;
  justify-content: center;
  padding-right: 5px;
  color: white;
}