.wrapper {
    background-color: rgb(224, 213, 213);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 90px 100px;
}

.wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    
}

.wrapper input, .wrapper textarea {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced4da;
    padding: 10px;
}

.wrapper .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.wrapper button {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
}

.submitButton {
    width: auto;
    min-width: 150px; /* Giới hạn kích thước nhỏ nhất của nút */
    padding: 10px 20px; /* Tạo không gian thoải mái cho nút */
}
.closeButton{
    color: black;
    background-color: rgb(224, 213, 213);
    margin-left: 520px;
}
.btAdd{
    border-radius: 10px;
    background-color: rgb(54, 26, 212);
}
.title{
    font-size: 30px;
    font-weight: bold;
}

.fish-form {
    border: black solid 1px;
    padding: 40px;
    margin: 30px 40px;
    border-radius: 10px;
}