.wrapper {
    background-color: rgb(100, 6, 6);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
}

.wrapper input, .wrapper textarea {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced4da;
    padding: 10px;
}

.wrapper .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.wrapper button {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
}

.submitButton {
    width: auto;
    min-width: 150px; /* Giới hạn kích thước nhỏ nhất của nút */
    padding: 10px 20px; /* Tạo không gian thoải mái cho nút */
}
.closeButton{
    color: aliceblue;
    background: none;
    margin-left: 650px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.title2{
    margin-bottom: 20px;
}

.fish-form {
    border: black solid 1px;
    padding: 40px;
    margin: 50px 40px;
    border-radius: 10px;
}
.khac{
    color: aliceblue;
}